<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="interpreterConfig" class="cn.sotou.tuningfork.interpreter.InterpreterConfig">
		<property name="multiThreads">
			<value>false</value>
		</property>
		<property name="maxThreadNum">
			<value>10</value>
		</property>
		<property name="chainThreads">
			<value>true</value>
		</property>
		<property name="utilProvider">
			<bean class="cn.sotou.tuningfork.util.provider.PipeUtilProvider">
				<property name="utilProviders">
					<list>
						<bean class="cn.sotou.tuningfork.util.provider.BuiltinUtilProvider"/>
						<bean class="cn.sotou.tuningfork.util.provider.GroovyUtilProvider"/>
						<bean class="cn.sotou.tuningfork.util.provider.BeanUtilProvider"/>
					</list>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="pipeInterpreter" class="cn.sotou.tuningfork.interpreter.PipeInterpreter" init-method="init">
		<property name="config">
			<ref bean="interpreterConfig"/>
		</property>
	</bean>
</beans>
